<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ScmsStudentMapper">

    <resultMap type="ScmsStudent" id="ScmsStudentResult">
        <result property="id" column="id"/>
        <result property="studentId" column="student_id"/>
        <result property="userId" column="user_id"/>
        <result property="studentName" column="student_name"/>
        <result property="picture" column="picture"/>
        <result property="sex" column="sex"/>
        <result property="phone" column="phone"/>
        <result property="classId" column="class_id"/>
        <result property="nation" column="nation"/>
        <result property="birthday" column="birthday"/>
        <result property="origin" column="origin"/>
        <result property="nativePlace" column="native_place"/>
        <result property="householdPlace" column="household_place"/>
        <result property="householdType" column="household_type"/>
        <result property="homeAddress" column="home_address"/>
        <result property="onlyChild" column="only_child"/>
        <result property="identityType" column="identity_type"/>
        <result property="identityNum" column="identity_num"/>
        <result property="politicalStatus" column="political_status"/>
        <result property="graduation" column="graduation"/>
        <result property="studentType" column="student_type"/>
        <result property="studentStatus" column="student_status"/>
        <result property="train" column="train"/>
        <result property="eduSystem" column="edu_system"/>
        <result property="enrollmentDate" column="enrollment_date"/>
        <result property="expectedGradate" column="expected_gradate"/>
        <result property="actualGradate" column="actual_gradate"/>
        <result property="dormitorySchool" column="dormitory_school"/>
        <result property="dormitoryName" column="dormitory_name"/>
        <result property="dormitoryNum" column="dormitory_num"/>
        <result property="dormitoryType" column="dormitory_type"/>
        <result property="dormitoryMember" column="dormitory_member"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="updateTime" column="update_time"/>
        <association property="scmsClass" column="class_id" javaType="ScmsClass" resultMap="classResult"/>
    </resultMap>

    <resultMap id="classResult" type="ScmsClass">
        <id property="id" column="id"/>
        <result property="className" column="class_name"/>
        <association property="school" column="school_id" javaType="SysDept" resultMap="deptResult"/>
    </resultMap>

    <resultMap id="deptResult" type="SysDept">
        <id property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
    </resultMap>

    <sql id="selectScmsStudentVo">
        select s.id,
               s.student_id,
               s.user_id,
               s.student_name,
               s.picture,
               s.sex,
               s.phone,
               s.class_id,
               s.nation,
               s.birthday,
               s.origin,
               s.native_place,
               s.household_place,
               s.household_type,
               s.home_address,
               s.only_child,
               s.identity_type,
               s.identity_num,
               s.political_status,
               s.graduation,
               s.student_type,
               s.student_status,
               s.train,
               s.edu_system,
               s.enrollment_date,
               s.expected_gradate,
               s.actual_gradate,
               s.dormitory_school,
               s.dormitory_name,
               s.dormitory_num,
               s.dormitory_type,
               s.dormitory_member,
               s.create_by,
               s.create_time,
               s.update_by,
               s.remark,
               s.update_time,
               c.class_name,
               c.school_id,
               d.dept_name
        from scms_student s
                 left join scms_class c on s.class_id = c.id and c.del_flag = 0
                 left join sys_dept d on c.school_id = d.dept_id
    </sql>

    <select id="selectScmsStudentList" parameterType="ScmsStudent" resultMap="ScmsStudentResult">
        <include refid="selectScmsStudentVo"/>
        <where>
            s.del_flag = 0
            <if test="studentId != null ">and s.student_id like concat('%', #{studentId}, '%')</if>
            <if test="studentName != null  and studentName != ''">and s.student_name like concat('%', #{studentName},
                '%')
            </if>
            <if test="classId != null ">and s.class_id = #{classId}</if>
        </where>
    </select>

    <select id="selectScmsStudentById" parameterType="Long" resultMap="ScmsStudentResult">
        <include refid="selectScmsStudentVo"/>
        where s.id = #{id} and s.del_flag = 0
    </select>

    <select id="checkStudentIdUnique" parameterType="ScmsStudent" resultType="int">
        select count(1)
        from scms_student
        where student_id = #{studentId}
          and del_flag = 0
          and id != #{id} limit 1
    </select>

    <select id="checkUserIdUnique" parameterType="ScmsStudent" resultType="int">
        select count(1)
        from scms_student
        where user_id = #{userId}
          and del_flag = 0
          and id != #{id} limit 1
    </select>

    <select id="getInfoByUserId" resultType="ScmsStudent">
        <include refid="selectScmsStudentVo"/>
        where s.user_id = #{userId} and s.del_flag = 0
    </select>

    <select id="selectScmsStudentListByLessonId" resultMap="ScmsStudentResult">
        select s.student_id, s.student_name, s.class_id, c.class_name, c.school_id, d.dept_name
        from scms_student s
                 left join scms_class c on s.class_id = c.id and c.del_flag = 0
                 left join sys_dept d on c.school_id = d.dept_id
        where s.class_id in
              (select cl.class_id from scms_class_lesson cl where cl.lesson_id = #{lessonId})
          and s.del_flag = 0
        group by s.class_id
    </select>

    <insert id="insertScmsStudent" parameterType="ScmsStudent">
        insert into scms_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">student_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="studentName != null">student_name,</if>
            <if test="picture != null">picture,</if>
            <if test="sex != null">sex,</if>
            <if test="phone != null">phone,</if>
            <if test="classId != null">class_id,</if>
            <if test="nation != null">nation,</if>
            <if test="birthday != null">birthday,</if>
            <if test="origin != null">origin,</if>
            <if test="nativePlace != null">native_place,</if>
            <if test="householdPlace != null">household_place,</if>
            <if test="householdType != null">household_type,</if>
            <if test="homeAddress != null">home_address,</if>
            <if test="onlyChild != null">only_child,</if>
            <if test="identityType != null">identity_type,</if>
            <if test="identityNum != null">identity_num,</if>
            <if test="politicalStatus != null">political_status,</if>
            <if test="graduation != null">graduation,</if>
            <if test="studentType != null">student_type,</if>
            <if test="studentStatus != null">student_status,</if>
            <if test="train != null">train,</if>
            <if test="eduSystem != null">edu_system,</if>
            <if test="enrollmentDate != null">enrollment_date,</if>
            <if test="expectedGradate != null">expected_gradate,</if>
            <if test="actualGradate != null">actual_gradate,</if>
            <if test="dormitorySchool != null">dormitory_school,</if>
            <if test="dormitoryName != null">dormitory_name,</if>
            <if test="dormitoryNum != null">dormitory_num,</if>
            <if test="dormitoryType != null">dormitory_type,</if>
            <if test="dormitoryMember != null">dormitory_member,</if>
            <if test="createBy != null">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null">#{studentId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="studentName != null">#{studentName},</if>
            <if test="picture != null">#{picture},</if>
            <if test="sex != null">#{sex},</if>
            <if test="phone != null">#{phone},</if>
            <if test="classId != null">#{classId},</if>
            <if test="nation != null">#{nation},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="origin != null">#{origin},</if>
            <if test="nativePlace != null">#{nativePlace},</if>
            <if test="householdPlace != null">#{householdPlace},</if>
            <if test="householdType != null">#{householdType},</if>
            <if test="homeAddress != null">#{homeAddress},</if>
            <if test="onlyChild != null">#{onlyChild},</if>
            <if test="identityType != null">#{identityType},</if>
            <if test="identityNum != null">#{identityNum},</if>
            <if test="politicalStatus != null">#{politicalStatus},</if>
            <if test="graduation != null">#{graduation},</if>
            <if test="studentType != null">student_type,</if>
            <if test="studentStatus != null">#{studentStatus},</if>
            <if test="train != null">#{train},</if>
            <if test="eduSystem != null">#{eduSystem},</if>
            <if test="enrollmentDate != null">#{enrollmentDate},</if>
            <if test="expectedGradate != null">#{expectedGradate},</if>
            <if test="actualGradate != null">#{actualGradate},</if>
            <if test="dormitorySchool != null">#{dormitorySchool},</if>
            <if test="dormitoryName != null">#{dormitoryName},</if>
            <if test="dormitoryNum != null">#{dormitoryNum},</if>
            <if test="dormitoryType != null">#{dormitoryType},</if>
            <if test="dormitoryMember != null">#{dormitoryMember},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateScmsStudent" parameterType="ScmsStudent">
        update scms_student
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="studentName != null">student_name = #{studentName},</if>
            <if test="picture != null">picture = #{picture},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="classId != null">class_id = #{classId},</if>
            <if test="nation != null">nation = #{nation},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="origin != null">origin = #{origin},</if>
            <if test="nativePlace != null">native_place = #{nativePlace},</if>
            <if test="householdPlace != null">household_place = #{householdPlace},</if>
            <if test="householdType != null">household_type = #{householdType},</if>
            <if test="homeAddress != null">home_address = #{homeAddress},</if>
            <if test="onlyChild != null">only_child = #{onlyChild},</if>
            <if test="identityType != null">identity_type = #{identityType},</if>
            <if test="identityNum != null">identity_num = #{identityNum},</if>
            <if test="politicalStatus != null">political_status = #{politicalStatus},</if>
            <if test="graduation != null">graduation = #{graduation},</if>
            <if test="studentType != null">student_type = #{studentType},</if>
            <if test="studentStatus != null">student_status = #{studentStatus},</if>
            <if test="train != null">train = #{train},</if>
            <if test="eduSystem != null">edu_system = #{eduSystem},</if>
            <if test="enrollmentDate != null">enrollment_date = #{enrollmentDate},</if>
            <if test="expectedGradate != null">expected_gradate = #{expectedGradate},</if>
            <if test="actualGradate != null">actual_gradate = #{actualGradate},</if>
            <if test="dormitorySchool != null">dormitory_school = #{dormitorySchool},</if>
            <if test="dormitoryName != null">dormitory_name = #{dormitoryName},</if>
            <if test="dormitoryNum != null">dormitory_num = #{dormitoryNum},</if>
            <if test="dormitoryType != null">dormitory_type = #{dormitoryType},</if>
            <if test="dormitoryMember != null">dormitory_member = #{dormitoryMember},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where student_id = #{studentId}
    </update>

    <delete id="deleteScmsStudentById" parameterType="Long">
        delete
        from scms_student
        where id = #{id}
    </delete>

    <delete id="deleteScmsStudentByIds" parameterType="String">
        delete from scms_student where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>